
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

.navbar{
    padding-top: 10px !important;
    background-color: #181D31 !important;
}

.logo a{
    font-family: 'Pacifico', cursive;
    color: rgb(254, 255, 239) !important;
}

#navbarNav{
    margin-left: 100px !important;
}

.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 30px;
    size: 18px;
    padding: 0 !important;
    
}

.nav-item a{
    color: rgb(254, 255, 239) !important;
}

.nav-item a:hover{
    cursor: pointer;
    font-weight: 800;
    color: beige;
}


.bg{
    height:400px;
    background-image: url(../images/bg.jpg);
    background-size: auto;
}

.header-component h1{
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 48px;
    margin-top: 100px;
    color: rgb(255, 241, 241);
}

.header-component p{
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 241, 241)
}

.our-menu{
    font-family: 'Nuosu SIL', serif !important;
}

.services-component{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.services-component h2{
    font-weight: 700;
    font-size: 36px;
}

.services-component p{
    color: #7D7987;

}

.services-list{
    margin-top: 0px !important;
}

.card-services{
   margin-top: 10px;
   background:  #FEFBE7 !important;
   box-sizing: border-box;
   box-shadow: 3px 10px 20px rgba(182, 182, 182, 0.8);
   border-radius: 20px !important;
}

.card-services img{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    /* height: 275px;
    width: 350px; */
}

.card-body h5{
    color: rgb(15, 177, 128);
}

.card-body p{
    color: #292928;
    font-family: 'Nuosu SIL', serif !important;
}

.card-body p a{
    text-decoration: none;
}

.edit-btn{
    color: blue;
    float: right;
    padding-left: 4px;
}



.delete-btn{
    color: red;
    float: right;
}
small{
    font-family: 'Nuosu SIL', serif !important;

}

.modal-me img{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border: 3px solid #041C32 ;
}

.button-load-more{
    font-family: 'Poppins', sans-serif;
}

.footer{
    background-color: #181D31 !important;

}

footer{
    padding-top: 30px !important;
    color: #fff !important;
    text-align: center;
}
footer h3{
    font-weight: 500;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
footer li{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color:#999999;
}

footer p{
    font-family: 'Poppins', sans-serif;
}
footer{
    text-align: left;
}

.copyright{
    font-family: 'Nuosu SIL', serif !important;
}